# 11. Mini exam (2)

#### Naoki TANI
#### Center for Advanced Policy Studies (CAPS), Institute of Economic Research, Kyoto University
#### July 19, 2023
#### 13:25 ~ 15:00

In [1]:
using Plots
using DataFrames
using Random
using Dates
using Statistics
using Downloads
using Optim
using Symbolics
using LaTeXStrings #write LaTeX equations in string label in plot

## 1. DataFrames

#### $\mathit{Q}$-1. Creat a DataFrame with $25$ rows $\times$ $3$ columns. The column names are `prefecture`, `year`, and `growth_rate`. 
#### `prefecture` is a categorical variable made up of `Kyoto`, `Osaka`, `Hyogo`, `Nara`, and `Wakayama`. 
#### `year` is also a categorical variable whose values are consecutive numbers from `2010` to `2014`.
#### You should derive $25$ patterns of combination with `prefecture` and `year`, which correspond to the 25 rows of your DataFrame.
#### The values of `growth_rate` are drawn from the standard normal distribution  $\mathcal{N}(0,1)$.

In [2]:
prefecture = ["Kyoto", "Osaka", "Hyogo", "Nara", "Wakayama"]
year = Int.(range(2010,2014, length = 5))






data

25×3 DataFrame
 Row │ prefecture  year   growth_rate
     │ String      Int64  Float64
─────┼────────────────────────────────
   1 │ Kyoto        2010    -0.467455
   2 │ Kyoto        2011     0.239184
   3 │ Kyoto        2012    -2.53885
   4 │ Kyoto        2013     1.20663
   5 │ Kyoto        2014    -0.306165
   6 │ Osaka        2010    -1.67647
   7 │ Osaka        2011     0.205398
   8 │ Osaka        2012     0.25311
   9 │ Osaka        2013    -1.66864
  10 │ Osaka        2014    -2.13482
  11 │ Hyogo        2010     0.354542
  ⋮  │     ⋮         ⋮         ⋮
  16 │ Nara         2010    -0.773335
  17 │ Nara         2011     0.72242
  18 │ Nara         2012     0.125241
  19 │ Nara         2013    -0.972833
  20 │ Nara         2014    -0.992347
  21 │ Wakayama     2010     1.2147
  22 │ Wakayama     2011    -0.555204
  23 │ Wakayama     2012    -0.120994
  24 │ Wakayama     2013    -1.52965
  25 │ Wakayama     2014    -0.633366
                        4 rows omitted

#### $\mathit{Q}$-2. Reshape your data to a $5$ rows $\times$ $6$ columns DataFrame by using _*for loop*_.
#### Each row corresponds to `year` in your initial data.
#### The column names are `year`, `Kyoto`, `Osaka`, `Hyogo`, `Nara`, and `Wakayama`.

In [3]:
# solution using for loop
reshape = DataFrame(year=year)





reshape

5×6 DataFrame
 Row │ year   Kyoto      Osaka      Hyogo      Nara       Wakayama
     │ Int64  Float64    Float64    Float64    Float64    Float64
─────┼──────────────────────────────────────────────────────────────
   1 │  2010  -0.467455  -1.67647    0.354542  -0.773335   1.2147
   2 │  2011   0.239184   0.205398  -1.09125    0.72242   -0.555204
   3 │  2012  -2.53885    0.25311    0.52217    0.125241  -0.120994
   4 │  2013   1.20663   -1.66864    0.865142  -0.972833  -1.52965
   5 │  2014  -0.306165  -2.13482    0.772765  -0.992347  -0.633366

## 2. Lagrange multipliers

#### $\mathit{Q}$-3. Find the maximum value of $f(x,y)$ subject to the constraint below, using the method o Lagrange multipliers.

#### $$\max_{x,y}\quad f(x,y) = 9x^2 +36xy - 4y^2 - 18x - 8y$$
#### $$\text{subject to}\quad 3x + 4y = 32$$

In [4]:
# solution

In [5]:
# define variables
@variables x y λ

3-element Vector{Num}:
 x
 y
 λ

In [ ]:
# define the lagrangian

## 3. Solow's growth model

#### We consider the solow's growth problem. The setup is the same with that in the previous lesson.

#### Setup

#### Production function is 
#### $$Y_t = a F(K_t, L_t)\quad,$$
#### where $Y_t$ is output, $a$ is the level of technology, $K_t$ is capital stock, and $L_t$ is labor.

#### Assumption of properties of $F(K_t, L_t)$
#### - twice continuously differentiable and strictly concave: $F_i >0$, $F_{ii} <0$, $F_{ij} >0$
#### - Inada condition: $F(K_t,0) = 0$, $F(0, L_t) = 0$, $F_L(K_t,0) = \infty$, $F_K(0,L_t) = \infty$, $F_L(K_t,\infty) = 0$, $F_K(\infty,L_t) = 0$

#### The population grows at a consant rate $\ell$:  $$L_{t+1} = (1 + \ell)L_{t}$$
#### Capital accumulates as follows,
#### $$K_{t+1} = (1-\delta)K_{t} + I_{t}\quad ,$$
#### where $I_t$ is the investment at time $t$ and it is financed by saving: $I_t = S_t$.
#### Saving is a portion of output:
#### $$S_t = s Y_t \quad,$$
#### where the parameter $s$ is exogenously given.
#### Output is either consumed or invested: $Y_t = C_t + I_t$

#### $\mathit{Q}$-4. Find the value of $k^*=k_{t+1}=k_{t}$ at the steady-state by simulating the capital accumulation equation until $|k_{t}-k_{t+1}|$ becomes smaller than $10^{-100}$. Report how long it takes for the model to converge to the steady-state.

In [15]:
struct Parameters
    a::Float64 #technology
    ℓ::Float64 #population growth
    δ::Float64 #capital depreciation
    s::Float64 #saving rate
    α::Float64 #output elasticity for capital
end

p = Parameters(1.1, 0.5, 0.2, 0.4, 0.4)

Parameters(1.1, 0.5, 0.2, 0.4, 0.4)

In [16]:
function capital(k::Float64, p::Parameters)
    kn = 
    return kn
end

capital (generic function with 1 method)

In [ ]:
function convergence(k0::Float64, p::Parameters)

    
    
    
    return(kn,period)
end

In [ ]:
convergence(0.1,p)

#### $\mathit{Q}$-5. Derive the closed form solution of steady-state capital $k^*$ and compare the value with that in the previous question.

In [ ]:
k_close(p::Parameters) = 
k_cl= round(k_close(p), digits=3)

In [23]:
println("The closed form solution of k* is $(k_cl) and it is almost equal to that in the previous question.")

The closed form solution of k* is 0.461 and it is almost equal to that in the previous question.

#### $\mathit{Q}$-6. Use Steffensen's method and find the value of $k^*=k_{t+1}=k_{t}$ at the steady-state by simulating the capital accumulation equation. Report how long it takes for the model to converge to the steady-state.

#### Hint: Steffensen's method
#### $$x_{n+1} = f(x_{n}),\quad n=0,1,2,...,$$
#### $$f(x) = x - \frac{(f(x)-x)^2}{f(f(x))-2f(x)+x}$$
#### $f(x)$ achieves quadratic convergence.

In [ ]:
function steffensen(k0::Float64, p::Parameters)

    
    return(k,period)
end

In [ ]:
steffensen(0.1,p)